<ul class="list-group my-3">

    <li *ngFor="let toDoList of viewToDoLists$|async" class="list-group-item d-flex align-items-center"
        [ngClass]="{'list-group-item-success' : toDoList == selectToDoList }">
        <span class="me-auto" (click)="selectingToDoList(toDoList)">{{toDoList.name}}</span>
        <span class="badge bg-primary rounded-pill mx-3">2/4</span>
        <span (click)="deleteToDoList(toDoList.id)">x</span>
    </li>
    
</ul>

<div class="form-row text-center">
    <div class="col-12">
        <input class="form-control my-3" name="todo-title" [(ngModel)]="newToDoListTitle" placeholder="Введите название списка..." />
        <button class="btn btn-primary" (click)="addToDoList()">Создать новый список дел</button>
    </div>
</div>