
    <input class="form-control my-3" placeholder="Введите фразу для поиска задач" />

        <div class="list-group">
                <div class="list-group-item">
                    <input type="checkbox" class="form-check-input" >
                    <span></span>
                </div>     
        </div>



    <p>Список пока пустой, добавьте задачу в список, чтобы не забыть о ней...</p>

    <input class="form-control my-3" placeholder="Введите новую задачу и нажмите Enter" />

    <p>Выберите список для отоброажения его содержимого или создайте новый</p>