<div class="row justify-content-md-center">
    <div class="col-3">
        <p *ngIf="toDoLists$ == null || (toDoLists$ | async)?.length == 0">Добро пожаловать в список дел, начните с добавления нового списка ↓</p>
        <app-todo-list [viewToDoLists$]="toDoLists$" (onSelectingToDoList)="onSelectedToDoList($event)"></app-todo-list>
    </div>
    <div class="col-6">
        <app-todo-items [viewToDoList]="selectedToDoList"></app-todo-items>
    </div>
</div>